/* TEXT STYLES */

@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/arvo/v14/tDbD2oWUg0MKqScQ7Z7o_vo.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/arvo/v14/tDbM2oWUg0MKoZw1-LPK89D4hAA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
}

ul {
  margin: 0 auto;
  padding-bottom: 30px;
}

ul li {
  display: inline;
}

.anchor-links li + li::before {
  content: "||";
  padding-left: 10px;
  padding-right: 15px;
}

.anchor-links a {
  color: red;
}

.anchor-links a:hover {
  color: maroon;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  font-weight: 400;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  max-width: 80%;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 40px 40px 40px 0px;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h4 {
  margin-bottom: 40px;
}

.main-headings {
  font-size: 44px;
  text-align: left;
  font-family: Arvo, serif;
  font-weight: 400;
  max-width: 80%;
}

.sub-headings-h2 {
  font-size: 36px;
  text-align: left;
  font-family: Arvo, serif;
  font-weight: 400;
  max-width: 80%;
}

.sub-headings-h3 {
  font-size: 28px;
  text-align: left;
  font-family: Arvo, serif;
  font-weight: 400;
  max-width: 80%;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  color: #89023e;
  text-decoration: none;
}

a:hover {
  color: #cc7178;
}

.text-link {
  margin-left: 100px;
  margin-bottom: 40px;
  font-family: "Lato", serif;
}

.body-font-description {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 1.5em;
}

.figcaption {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  line-height: 1.5em;
}

.blockquote {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 18px;
  padding-left: 15px;
  border-left: 4px solid #89023e;
  line-height: 2em;
  width: 65%;
  margin-left: 15%;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

/* COLOR STYLES */

#primary-accent-color {
  background-color: #89023e;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  float: left;
  position: relative;
  text-align: center;
}

#secondary-accent-color {
  background-color: #cc7178;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  float: left;
  position: relative;
  color: white;
  text-align: center;
}

#text-color {
  background-color: black;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  float: left;
  color: white;
  text-align: center;
}

.site-colors {
  padding: 25px 55px;
  text-transform: uppercase;
  width: 500px;
  margin-bottom: 35px;
  margin-right: 40px;
}

/* DESIGN ELEMENTS */

hr {
  clear: left;
}

* {
  box-sizing: border-box;
}

/* BUTTONS */

.primary-button {
  background-color: #89023e;
  color: white;
  padding: 15px 25px;
  font-family: "Lato", serif;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  margin: 100px;
}

.primary-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px darkslategray;
  color: white;
}

.primary-button:active {
  background-color: black;
  box-shadow: 2px 2px 4px darkslategray;
  cursor: pointer;
}
